[manager]
ratio          = [1, 2, 3] # Proporzione colonne (Parent, Current, Preview)
sort_by        = "alphabetical"
sort_sensitive = false
sort_reverse   = false
sort_dir_first = true
show_hidden    = false
show_symlink   = true
scrolloff      = 5
mouse_events   = [ "click", "scroll" ]
title_format   = "Yazi: {cwd}"

[preview]
tab_size        = 2
max_width       = 600
max_height      = 900
cache_dir       = ""

[opener]
edit = [
    { run = '${EDITOR:-nano} "$@"', block = true, desc = "Edit" },
]
open = [
    { run = 'xdg-open "$@"', desc = "Open" },
]

[open]
rules = [
    { name = "*.txt", use = "edit" },
    { mime = "text/*", use = "edit" },
    { mime = "image/*", use = "open" },
    { mime = "video/*", use = "open" },
    { mime = "application/pdf", use = "open" },
]